/* Estilos para el cuerpo y el contenedor */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px;
  }
  
  .container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  textarea {
    resize: none;
    background-color: #f9f9f9;
  }
  
  .buttons button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo específico para el botón de Información de Cifrados */
  #inf button {
    background-color: #ff6347;  /* Color diferente (Tomato) */
    color: white;
  }
  
  #inf button:hover {
    background-color: #e04e30;  /* Color de hover diferente */
  }
  
  
  button:hover {
    background-color: #006f9a;
  }
  
  /* Modal e Instrucciones */
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 12px;
    max-width: 400px;
    text-align: left;
  }
  
  .close {
    color: #aaa;
    font-size: 28px;
    float: right;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }
  
